<html>

<head>
  <title>Angular Study Project</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Custom Header</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </header>

    <main class="content">
      <div class="main-content-wrapper">
        <!-- <app-home></app-home> -->
        <router-outlet></router-outlet>
      </div>
    </main>

    <footer class="footer">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Custom Footer</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>
  </div>
</body>
<router-outlet></router-outlet>

</html>
